<div class="dashboard-banner parent-container">
    <div class="container banner-content-container child-container">
        <div class="row">
            <div class="col-lg-12">
                <div class="intro-message banner-content">
                    <h1>Lync Digtial Academy</h1>
                    <h3>Training Tracking System</h3>
                    <hr class="intro-divider">
                    <div data-ng-if="isTrainer">
                        <h4>{{dashboardContent.trainer.Name}}</h4>
                        <span class="course-container inline-block pointer" data-ng-repeat="course in dashboardContent.trainer.Courses track by $index " data-ng-click="selectCourse(course)" data-ng-disabled="courseSelected">
                        <div class="course-content inline-block " data-ng-class="{ 'course-container-isChecked': course.isChecked} " data-ng-bind="course.name"></div>
                    </span>
                        <div>
                            <button class="btn btn-success" data-ng-click="startSession()">Start</button>
                        </div>
                        <div>
                            <button class="btn btn-warning" data-ng-if="sessionRunning" data-ng-click="stopSession()">Stop</button>
                        </div>
                        <h4>{{sessionStarted}}</h4>
                    </div>
                    <div data-ng-if="isStudent">
                        <h4>{{dashboardContent.student.Name}}</h4>
                        <span class="course-container  inline-block pointer" data-ng-repeat="course in dashboardContent.trainer.Courses  track by $index" data-ng-click="selectCourse(course)">
                         <div class="course-content inline-block" data-ng-class="{'course-container-isChecked': course.isChecked}" data-ng-bind="course.name"></div>
                    </span>
                        <div>
                            <button class="btn btn-success" data-ng-click="startSession()">Start</button>
                        </div>
                        <div>
                            <button class="btn btn-warning" data-ng-if="sessionRunning" data-ng-click="stopSession()">Stop</button>
                        </div>
                        <h4>{{sessionStarted}}</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.container -->
</div>
<!-- <div data-ng-include="'views/dashboard/dashboard.html'"></div> -->
